<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapperPost">
    <div class="top">
        <div class="title">
            <h1>My Blog</h1>
        </div>
        <div class="myContent">
            <div class="card">
                <h2>{{ my_blog['title'] }}</h2>
                <h4>{{ my_blog['subtitle'] }}</h4>
                <p>{{ my_blog['body'] }}</p>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <p>Made By Chincharito.</p>
</footer>
</html>